/* .fund
{
    background-color: blue;
} */
html{

    background-color:hsl(0,0%,99%);
}
.fund:hover
{
    border: 1px outset hsl(0,0%,60%);
    box-shadow: "1px ";
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px 2px hsl(0,0%,9%);
    -moz-box-shadow: 0 0 2px 2px hsl(0,0%,9%);
    box-shadow: 0 0 2px 2px hsl(0,0%,9%);
    background-color:hsl(0,0%,100%);
}
.fund:hover .heading{
    color: rgb(34, 111, 199);
}
.fundWrap{
    padding-left: 10%;
    padding-top: 10%;
    padding-right: 2%;
    height: 100%;
}